.thanks-note {
    width: 200px;
    /* text-align: justify; */
    display: inline-block;
    vertical-align: middle;
}

.div {
    /* width: 30px;
    border-bottom: 1px dotted black; */
    margin-bottom: 300px;
}

/* .img {
    object-position: center;
} */

.search-box {
    object-position: left;
}